<!DOCTYPE html>
<html>
  <head>
    <title>cab</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/come/create" method="GET">
      <button type="submit">投稿する！</button>
    </form>
  </body>
</html>
