<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>cab</title>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/index_style.css' media="screen and (min-width:768px)">
    <link rel='stylesheet' href='/stylesheets/phone/index_style.css' media="only screen and (max-width:767px)">
    <link rel='stylesheet' href='/stylesheets/rule_style.css'>
</head>
    <header>
        <a href="/"><img src="/images/title_logo.png" alt="島あけときます。" class="title_logo"></a>
    </header>
    <body>
        <p class="rules">他人が不快になるようなプレイは、くれぐれも行わないよう気をつけましょう。</p>
        <br>
        <p class="rules">なりすまし・荒らし行為などが発覚した場合は、該当するアカウントを通報し、即座に通信を終了することをおすすめします。</p>
        <ol>
            <li>オンラインプレイ中 "ー(マイナス)" ボタンでメニューを開く</li>
            <li>「通報する」でアカウントを選択して通報</li>
            <li>「おひらきにする」で通信終了</li>
        </ol>
        <footer>
            <p class="copyright"><a href="/rule">りようきやく</a></p>
            <p>(c)2020：GDPカンスト島の<span class="be_green">まじょがり</span></p>
            <a href="https://twitter.com/tititititits"><img src="/images/twitter.svg" alt="twitter" class="twitter"></a>
            <a href="https://github.com/FukeTakumi"><img src="/images/github.svg" alt="github" class="github"></a>
        </footer>
    </body>
</html>