*{
    margin: 0;
    padding: 0;
}

header{
    height: 80px;
    background-color:#4d3f30;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #4d3f30;
    background-color: #ffecdc;
    height: 1210px;
    position: relative;
}

p{
margin: 0;
}

h1{
    margin: 0 auto 50px auto;
    width: 400px;
    padding-top:50px;
}

h1:after {
    background-color: #ff7676;
    border-radius: 5px;
    content: "";
    display: block;
    height: 10px;
}

/* 1041~1920 */
@media screen and (min-width:1041px){
    .whole_wrapper{
        margin: 0 auto;
        background-color: #fff8e5;
        width: 80%;
        padding-bottom: 50px;
    }
    .main_wrapper{
        margin: 0 auto;
        width: 600px;
        background-color: #fffbf0;
        padding:50px 100px;
        border-radius: 20px;
    }
}

/* 951~1040 */
@media screen and (max-width:1040px) and (min-width:781px){
    .whole_wrapper{
        margin: 0 auto;
        background-color: #fff8e5;
        padding-bottom: 50px;
    }
    .main_wrapper{
        margin: 0 auto;
        width: 70%;
        background-color: #fffbf0;
        padding:50px 100px ;
        border-radius: 20px;
    }
}

input, select{
    text-align: center;
    border: solid 5px #f8e4a9;
    border-radius: 10px;
    background-color: #fff;
}

select{
    text-align: center;
}

textarea{
    padding-left: 5px;
    width: 276px;
    height: 60px;
    border: solid 5px #f8e4a9;
    border-radius: 10px;
    font-size: 18px;
}

.input_fruit, .input_cab_bell, .input_pass, textarea{
    margin: 15.5px 0;
}

.come_title{
    font-size: 60px;
    text-align: center;
}

.imfrom_wrapper{
    /* background-color: red; */
    text-align: center;
    font-size: 35px;
    padding-bottom:50px;
}

.imfrom_island, .imfrom_name{
    font-size: 25px;
    padding: 5px 0;
    position: relative;
    bottom: 8px;
}

.imfrom_name{
    color: green;
}

.contents_wrapper{
    /* background-color: green; */
    height: 400px;
    position: relative;
}

.send_or_cancel{
    /* background-color: blue; */
    text-align: center;
}

.contents_wrapper_left{
    /* background-color: pink; */
    float: left;
    font-size: 30px;
    line-height: 79px;
    position: absolute;
    top: 0;
    z-index: 2;
}

.limit{
    font-size: 18px;
    line-height: 0;
    margin-bottom: 40px;
    position: relative;
    bottom: 15px;
}

.input_cab_status{
    color: #4d3f30;
    height: 40px;
    width: 100px;
    font-size: 18px;
    position: relative;
    bottom: 5px;
    margin: 0;
}

.contents_wrapper_right{
    /* background-color: yellow; */
    float:right;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.input_fruit{
    color: #4d3f30;
    height: 50px;
    width: 134px;
    font-size: 20px;
}

.input_cab_bell{
    font-size: 20px;
    width: 82px;
    height: 40px;
}

.bell{
    font-size: 18px;
}

.input_pass{
    font-size: 20px;
    width: 122px;
    height: 40px;
}

.line_dummy{
    height: 80px;
    border-top: dashed 1px #ccc9c0;
    position: relative;
    top: 0px;
    z-index: 1;
}

.line_dummy_bold{
    height: 105px;
    border-top: dashed 1px #ccc9c0;
    border-bottom: dashed 1px #ccc9c0;
    position: relative;
    top: 0px;
    z-index: 1;
}

.line_dummy_bottom{
    height: 81px;
    border-bottom: dashed 1px #ccc9c0;
    position: relative;
    top: 0px;
    z-index: 1;
}

form{
    display: inline;
}

.button_send, .button_cancel{
    border-style: none;
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 20px;
}

.button_send{
    background-color: #ff7676;
}

.button_cancel{
    background-color: #ccc9c0;
}

footer{
    text-align: center;
    color: #fff;
    width: 100%;
    margin-top: 30px;
    padding:10px 0 ;
    height: 100px;
    background-color: #4d3f30;
    position: absolute;
    bottom: 0px;
}

footer p{
    margin-top: 7px;
}

.twitter, .github{
    width: 30px;
    margin:10px 5px 0 5px;
}