body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #4d3f30;
    background-color: #ffecdc;
    height: 900px;
}

p{
margin: 0;
}

h1{
    margin: 0 auto 50px auto;
    width: 400px;
    padding-top:50px;
}

h1:after {
    background-color: #82edaf;
    border-radius: 5px;
    content: "";
    display: block;
    height: 10px;
}

/* 1041~1920 */
@media screen and (min-width:1041px){
    .whole_wrapper{
        margin: 0 auto;
        background-color: #fff8e5;
        width: 80%;
        height: 100%;
    }
    .main_wrapper{
        margin: 0 auto;
        width: 600px;
        background-color: #fffbf0;
        padding:50px 100px;
        border-radius: 20px;
    }
}

/* 951~1040 */
@media screen and (max-width:1040px) and (min-width:781px){
    .whole_wrapper{
        margin: 0 auto;
        background-color: #fff8e5;
        padding-bottom: 50px;
        height: 100%;
    }
    .main_wrapper{
        margin: 0 auto;
        width: 70%;
        background-color: #fffbf0;
        padding:50px 100px ;
        border-radius: 20px;
    }
}

@media screen and (max-width:780px){
    .whole_wrapper{
        margin: 0 auto;
        background-color: #fff8e5;
        padding-bottom: 50px;
        height: 100%;
    }
    .main_wrapper{
        margin: 0 auto;
        width: 540px;
        background-color: #fffbf0;
        padding:50px 100px ;
        border-radius: 20px;
    }
}

input{
    text-align: center;
    border: solid 5px #f8e4a9;
    border-radius: 10px;
    background-color: #fff;
}

textarea{
    padding-left: 5px;
    width: 276px;
    height: 60px;
    border: solid 5px #f8e4a9;
    border-radius: 10px;
    font-size: 18px;
    float:right;
}

/* .input_fruit, .input_cab_bell, .input_pass, textarea{
    margin: 15.5px 0;
} */

.go_title{
    font-size: 60px;
    text-align: center;
}

.imfrom_wrapper{
    /* background-color: red; */
    text-align: center;
    font-size: 35px;
    padding-bottom:20px;
}

.imfrom_island, .imfrom_name{
    font-size: 25px;
    padding: 5px 0;
    position: relative;
    bottom: 8px;
}

.imfrom_name{
    color: green;
}

.contents_wrapper{
    /* background-color: green; */
    height: 95px;
    padding-top: 20px;
    margin-bottom: 50px;
    border-top: dashed 1px #ccc9c0;
    border-bottom: dashed 1px #ccc9c0;
}

.send_or_cancel{
    /* background-color: blue; */
    text-align: center;
}

.contents_wrapper_left{
    background-color: pink;
    float: left;
    font-size: 30px;
    height: 0px;
}

.limit{
    font-size: 18px;
    margin-bottom: 40px;
}

form{
    display: inline;
}

.button_send, .button_cancel{
    border-style: none;
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 20px;
}

.button_send{
    background-color: #82edaf;
}

.button_cancel{
    background-color: #ccc9c0;
}