/* #fff8e5 */
*{
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Hiragino Maru Gothic Pro', Helvetica, Arial, sans-serif;
  color: #4d3f30;
  background-color: #ffedd1;
  background-repeat: repeat-x;
  min-height: 1000px;
  position: relative;
  padding-bottom: 220px;
}

p{
  margin: 0;
}


/* 881~1114 */
@media screen and (min-width:881px) {
  .main_wrapper{
    margin: 0 auto;
    width: 880px;
    background-color: #fff8e5;
    padding-bottom: 50px;
    border-radius: 20px;
  }
}

/* 608~880 */
@media screen and (max-width:880px){
  .main_wrapper{
    width: 880px;
    background-color: #fff8e5;
    padding-bottom: 50px;
    border-radius: 20px;
  }
}

header{
  height: 80px;
  background-color:#4d3f30;
  margin-bottom: 30px;
}

/* 0~607 */
/* @media screen and (max-width:607px){
  .main_wrapper{
    background-color: #000;
  }
} */

.index_top{
  margin: 0 auto;
  text-align: center;
  width:100%;
  padding: 30px 0;
}

.index_title {
  font-size: 60px;
  padding: 10px 0;
}

.come_message_button{
  background-color: #ff7676;
  border-radius: 10px;
  font-size: 35px;
  font-family: "Nico Moji";
  color: #fff;
  border: none;
  width: 80%;
  height: 72px;
}

.come_message{
  margin: 0 auto;
}

.come_message_all{
  border-top: dashed 5px #ccc9c0;
  background-color: #fff8e5;
  margin: 50px auto 0 auto;
  width: 80%;
  padding: 60px 60px 30px 60px;
}

.come_message_left{
  width: 25%;
  margin: 0;
  float: left;
  border-right: solid 1px #ccc9c0;
  padding:0 5px 10px 0;
}

.come_message_right{
  width: 64%;
  margin: 0 0 0 -1px;
  display: inline-block;
  padding-left: 50px;
  border-left: solid 1px #ccc9c0;
  /* background-color: red; */
}

.image{
  float: right;
  width: 150px;
  position: relative;
  top: -53px;
  right: -34px;
}

.come_island_name, .pass_is, .postdate_is, .made{
  font-size: 20px;
  line-height: 30px;
}

.postdate{
  display: inline;
}

.come_name, .pass, .postdate{
  margin-bottom: 40px;
  line-height: 45px;
  font-size: 30px;
}

.cab_status, .bell{
  font-size: 40px;
}

.cab_bell{
  font-size: 110px;
}

.want_is{
  text-align: center;
  line-height: 44px;
  background-color: #ff7676;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  border-radius: 20px;
  width: 123px;
  height: 44px;
  position: relative;
  z-index: 1;
}

.want{
  position: relative;
  top: -22px;
  background-color: #fff;
  font-size: 25px;
  width: 95%;
  border-radius: 0 0 20px 20px;
  padding:0 20px 20px 20px ;
}

.want_dummy{
  position: relative;
  top: -22px;
  background-color: #fff;
  width: 95%;
  height: 22px;
  border-radius: 0 20px 0 0;
  padding:10px 20px 0 20px ;
}

.be_red{
  color: #ff7676;
}

.be_green{
  color: #59A679;
}

.go_message_button_wrap{
  background-color: #fff8e5;
  margin: 0 auto;
  width: 80%;
  padding: 20px 60px;
  text-align: center;
}

.go_message_button{
  background-color: #82edaf;
  border-radius: 10px;
  font-size: 35px;
  font-family: "Nico Moji";
  color: #fff;
  border: none;
  width: 100%;
  height: 72px;
}

.go_message_all{
  background-color: #fff8e5;
  padding: 0px 60px;
  margin: 0 auto 0px auto;
  width: 80%;
}

.go_message{
  text-align: left;
  /* border-bottom: dashed 2px #ccc9c0; */
}

/* .reply_arrow{
  width: 30px;
  float: left;

} */

.go_message_info{
  height: 33px;
  /* background-color: red; */
}

.go_message_imfrom{
  font-size: 20px;
  float: left;
}

.go_message_delete{
  float: right;
  font-size: 15px;
  color: #fff;
  background-color: #aca395;
  border-style: none;
  border-radius: 5px;
  padding: 3px 15px;
}

.go_message_memo{
  font-size: 20px;
  background-color: #fff;
  border-radius:0px 20px 20px 20px;
  padding: 15px 20px;
  margin-top: 10px;
}

a {
  color: #00B7FF;
}

footer{
  text-align: center;
  color: #fff;
  width: 100%;
  margin-top: 30px;
  padding:10px 0 ;
  height: 100px;
  background-color: #4d3f30;
  position: absolute;
  bottom: 0px;
}

footer p{
  margin-top: 7px;
}

.twitter, .github{
  width: 30px;
  margin:10px 5px 0 5px;
}