<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>cab</title>
    <link rel='stylesheet' href='/stylesheets/go_message_style.css' />
</head>
<body>
    <header>
        <p>ヘッダー</p>
    </header>
    <div class="whole_wrapper">
    <h1 class="go_title">いきたい！</h1>
        <div class="main_wrapper">
        <form action="/go/create/<%= id %>" method="POST" autocomplete="off">
            <div class="imfrom_wrapper">
                <input type="text" value="" name="island_name" class="imfrom_island" maxlength="10">
                <span>島の　</span>
                <br>
                <input type="text" value="" name="name" class="imfrom_name" maxlength="10">
                <span>です。</span>
            </div>
        <div class="contents_wrapper">
            <div class="contents_wrapper_left">
                <p class="memo_is">メモ：</p>
                <p class="limit">(30文字以内)</p>
            </div>
            <textarea type="text" maxlength="30" name="memo" class="input_memo"></textarea>
        </div>
        <div class="send_or_cancel">
            <button type="submit" class="button_send">これでおくる</button>
        </form>
            <form action="/" autocomplete="off">
                <button type="submit" class="button_cancel">やっぱやめる</button>
            </form>
        </div>
    </div>
    </div>
    <footer>
        <p>りようきやく</p>
        <p class="copyright">(c)2020：GDPカンスト島の<span class="be_green">まじょがり</span></p>
        <a href="https://twitter.com/tititititits"><img src="/images/twitter.svg" alt="twitter" class="twitter"></a>
        <a href="https://github.com/FukeTakumi"><img src="/images/github.svg" alt="github" class="github"></a>
    </footer>
</body>
</html>