<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <title>cab</title>
</head>
<body>
    <p>いきたい</p>
    <form action="/go/create/<%= id %>" method="POST">
        <input type="text" value="GDPカンスト" name="island_name">
        <p>島の</p>
        <input type="text" value="まじょがり" name="name">
        <p>です</p>
        <p>メモ</p>
        <input type="text" value="hogehoge" name="memo">
        <input type="submit" value="投稿する">
    </form>
</body>
</html>