<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <title>cab</title>
</head>
<body>
    <p>きてほしい</p>
    <form action="/come/create" method="POST" id="come_form">
        <input type="text" value="GDPカンスト" name="island_name">
        <p>島の</p>
        <input type="text" value="まじょがり" name="name">
        <p>です</p>
        <p>フルーツ</p>
        <select name="fruit">
            <option value=""></option>
            <option value="リンゴ">リンゴ</option>
            <option value="オレンジ">オレンジ</option>
            <option value="ナシ">ナシ</option>
            <option value="さくらんぼ">さくらんぼ</option>
            <option value="モモ">モモ</option>
        </select>
        <p>カブの</p>
        <select name="cab_status">
            <option value=""></option>
            <option value="売り値">売り値</option>
            <option value="買い値">買い値</option>
        </select>
        <input type="number" value=123 name="cab_bell">
        <p>ベル</p>
        <p>ほしい！</p>
        <input type="text" value="hogehoge" name="want">
        <p>島パスワード</p>
        <input type="text" value="hogehoge" name="pass">
        <button type="submit">おくる！</button>
    </form>
</body>
</html>